.App {
  max-width: 32rem;
  margin: 2rem auto;
}

.App header {
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.App header > * {
  flex: 1;
}

.App main {
  height: 50vh;
  border: 1px solid;
  position: relative;
}

.App main .object {
  width: 10px;
  height: 10px;
  background: red;
  position: absolute;
}

.App table {
  border: 1px solid;
  width: 100%;
}

.App table th,
.App table td {
  text-align: center;
}
